<div class="container flex justify-center items-center h-full">

  <div *ngIf="preloader" class="overlay">
      <span
        aria-hidden="true"
        class="spinner-border spinner-border-xl text-primary preloader"
        role="status"
      >
      </span>

  </div>


  <div class="w-[600px] h-[400px]">

    <form
      class="flex flex-col gap-5"
      ngForm="loginFormGroup"
      (ngSubmit)="updateUser()"
    >

      <div class="flex justify-between">
        <h1>Update Form</h1>
        <button
          type="button"
          class="close-dialog"
          (click)="dialogRef.close()"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </div>

      <mat-form-field class="">
        <mat-label>Name</mat-label>
        <input
          type="text"
          matInput
          [formControl]="updateUserFormGroup.controls.name"
          [errorStateMatcher]="matcher"
          placeholder="John Deo"
        >
        <div *ngIf="updateUserFormGroup.get('name')?.touched && updateUserFormGroup.get('name')?.invalid">
          <small *ngIf="updateUserFormGroup.get('name')?.errors?.['required']">
            <mat-error>Name is required</mat-error>
          </small>
          <small *ngIf="updateUserFormGroup.get('name')?.errors?.['minlength']">
            <mat-error>Minimum 6 characters</mat-error>
          </small>
        </div>

      </mat-form-field>

      <mat-form-field class="">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          [formControl]="updateUserFormGroup.controls.email"
          [errorStateMatcher]="matcher"
          placeholder="user@gmail.com"
        >
        <div *ngIf="updateUserFormGroup.get('email')?.touched && updateUserFormGroup.get('email')?.invalid">
          <small *ngIf="updateUserFormGroup.get('email')?.errors?.['required']">
            <mat-error>Email is required</mat-error>
          </small>
          <small *ngIf="updateUserFormGroup.get('email')?.errors?.['email']">
            <mat-error>Invalid email</mat-error>
          </small>
        </div>

      </mat-form-field>

      <mat-form-field class="">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          [formControl]="updateUserFormGroup.controls.password"
          [errorStateMatcher]="matcher"
          placeholder="Password123!"
        >
        <div *ngIf="updateUserFormGroup.get('password')?.touched && updateUserFormGroup.get('password')?.invalid">
          <small *ngIf="updateUserFormGroup.get('password')?.errors?.['required']">
            <mat-error>Password is required</mat-error>
          </small>
          <small *ngIf="updateUserFormGroup.get('password')?.errors?.['minlength']">
            <mat-error>Minimum 6 characters</mat-error>
          </small>
        </div>
      </mat-form-field>

      <mat-form-field class="">
        <mat-label>Role</mat-label>

        <mat-select
          [formControl]="updateUserFormGroup.controls.role"
          [errorStateMatcher]="matcher"
        >
          <mat-option value="">SELECT ROLE</mat-option>
          <mat-option [value]="role" *ngFor="let role of roles">{{ role }}</mat-option>
        </mat-select>

        <div *ngIf="updateUserFormGroup.get('role')?.touched && updateUserFormGroup.get('role')?.invalid">
          <small *ngIf="updateUserFormGroup.get('role')?.errors?.['required']">
            <mat-error>Role is required</mat-error>
          </small>
          <small *ngIf="updateUserFormGroup.get('role')?.errors?.['minlength']">
            <mat-error>Minimum 3 characters</mat-error>
          </small>
        </div>

      </mat-form-field>

      <button
        class="bg-blue-500 text-white px-4 py-3 rounded"
        type="button"
        (click)="updateUser()"
        [disabled]="updateUserFormGroup.invalid"
      >
        Update User
      </button>

    </form>


  </div>

</div>
