<div class="main-wrapper ">

  <div *ngIf="preloader" class="overlay">
      <span
        aria-hidden="true"
        class="spinner-border spinner-border-xl text-primary preloader"
        role="status"
      >
      </span>

  </div>


  <div class="my-2 flex justify-between action-section ">

    <mat-form-field appearance="fill">

      <mat-label>Filter By Status</mat-label>

      <mat-select
        (selectionChange)="filterByStatus($event)"
      >
        <mat-option value="">FILTER BY STATUS</mat-option>
        <mat-option [value]="status" *ngFor="let status of statusEnum">{{ status }}</mat-option>
      </mat-select>


    </mat-form-field>

    <button
      type="button"
      class="add-button"
      (click)="addTask()"
      [ngClass]="{'hidden': authService.getRole() !== 'ADMIN'}"
    >
      Add Task
    </button>

  </div>


  <div>

    <h3 class="text-5xl h-1 text-blue-950">All Tasks</h3>

    <table mat-table [dataSource]="tasks" class="w-full my-2">


      <ng-container matColumnDef="sn">
        <th mat-header-cell *matHeaderCellDef>S/N</th>
        <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title</th>
        <td mat-cell *matCellDef="let element"> {{ element?.title }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element"> {{ element?.status }}</td>
      </ng-container>

      <ng-container matColumnDef="start-date">
        <th mat-header-cell *matHeaderCellDef> Start Date</th>
        <td mat-cell *matCellDef="let element"> {{ element?.startDate | date }}</td>
      </ng-container>

      <ng-container matColumnDef="end-date">
        <th mat-header-cell *matHeaderCellDef>End Date</th>
        <td mat-cell *matCellDef="let element"> {{ element?.endDate | date }}</td>
      </ng-container>

      <ng-container matColumnDef="assign">
        <th mat-header-cell *matHeaderCellDef>Assign</th>
        <td mat-cell *matCellDef="let element">{{ element?.assignee?.name || 'None' }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <div class="flex gap-2 m-3">
            <button
              type="button"
              class="bg-green-900 text-white p-1 rounded w-[5rem] grid place-items-center"
              (click)="update(element)"
              [ngClass]="{'hidden': authService.getRole() !== 'ADMIN'}"
            >
              <mat-icon>edit</mat-icon>
              Edit
            </button>

            <button
              type="button"
              class="bg-blue-900 text-white p-1 rounded w-[5rem] grid place-items-center"
              (click)="assignToMe(element)"
              [disabled]="element.assignee"
            >
              <mat-icon>user</mat-icon>
              Assign to me
            </button>


            <button
              type="button"
              class="bg-blue-900 text-white p-1 rounded w-[5rem] grid place-items-center"
              (click)="viewDetails(element)"
            >
              <mat-icon>equalizer</mat-icon>
              View Details
            </button>

          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[3,6, 12]"></mat-paginator>
  </div>


</div>
